<form action="" [formGroup]="formulario">

  <div>
    <label for="pais">Pais</label>
    <select name="pais" id="pais" formControlName="pais">
      <option *ngFor="let pais of paises" [value]="pais">{{pais}}</option>
    </select>
  </div>
  <div>
    <label for="estado">Estado</label>
    <select name="estado" id="estado" formControlName="estado">
      <option *ngFor="let estado of obtenerEstadosPorPais(formulario.value.pais)" [value]="estado">{{estado}}</option>
    </select>
  </div>
  <div>
    <label for="ciudad">Ciudad</label>
    <select name="ciudad" id="ciudad" formControlName="ciudad">
      <option *ngFor="let ciudad of obtenerCiudadesPorEstado()" [value]="ciudad">{{ciudad}}</option>
    </select>
  </div>
</form>

