*{
    padding:0;
    margin: 0;
}
h1{
    size: 100px;
}
.header{
    display: flex;
    justify-content: space-around; 
    background-color:blanchedalmond  
}

a{
    margin: 20px;
}
h5{
  color: brown; 
  margin: 20px;
}
button{
  border-radius: 25px;
  margin-top: 20px;
  width: 5%;
  height: 5%;
}