*{
    padding: 0;
    margin: 0;
}
h4{
    padding: 20px; 
    
}
form{
    border-radius: 5px;
    box-shadow: 0 2px 5px (10, 10, 10, 0.2);
    padding: 20px;
    width: 300px;
}
.form-input{
  margin:10px 30px;
  text-align: left;
    
}
label{
    display: block;
}
.button{
    text-align: center;
    justify-content: center;
}